<div id="nav"></div>
<script>
fetch("nav.html").then(r => r.text()).then(d => {
  document.getElementById("nav").innerHTML = d;
});
</script>

body {
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
}

.card {
  background: #020617;
  border: 1px solid #1e293b;
}

button {
  background: linear-gradient(135deg, #22d3ee, #2563eb);
  color: black;
  font-weight: bold;
}
